In [1]:
import pandas as pd
import numpy as np
import tqdm
import warnings
import matplotlib.pyplot as plt

pd.set_option("max_rows", 200)
pd.set_option("max_columns", 50)

%matplotlib inline

In [23]:


data_types_dict = {
    'row_id': 'int64',
    'timestamp': 'int64',
    'user_id': 'int32',
    'content_id': 'int16',
    'content_type_id': 'int8',
    'task_container_id': 'int16',
    'user_answer': 'int8',
    'answered_correctly': 'int8',
}


df = pd.read_csv("../input/riiid-test-answer-prediction/train.csv",
                 dtype=data_types_dict,
                 nrows=1000000)

In [24]:
df_question = pd.read_csv("../input/riiid-test-answer-prediction/questions.csv",
                          dtype={"bundle_id": "int32",
                                 "question_id": "int32",
                                 "correct_answer": "int8",
                                 "part": "int8"})
df_lecture = pd.read_csv("../input/riiid-test-answer-prediction/lectures.csv",
                         dtype={"lecture_id": "int32",
                                "tag": "int16",
                                "part": "int8"})

In [28]:
w_df1 = pd.merge(df[df["content_type_id"]==0], df_question, how="left", left_on="content_id", right_on="question_id")
w_df2 = pd.merge(df[df["content_type_id"]==1], df_lecture, how="left", left_on="content_id", right_on="lecture_id")
df = pd.concat([w_df1, w_df2]).sort_values(["user_id", "timestamp"])

/home/yuma/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

In [29]:
import sys
sys.path.append("../")
# df = pd.read_pickle("../input/riiid-test-answer-prediction/split10/train_0.pickle")
df = df.sort_values(["user_id", "timestamp"])
# large_user_id = df["user_id"].value_counts()
# large_user_id = large_user_id[large_user_id > 1000] 
# df = df[df["user_id"].isin(large_user_id.index)]
# df = df[df["answered_correctly"] != -1]

In [30]:
ans = df.groupby("user_id")["answered_correctly"].describe()

In [31]:
ans.sort_values("count", ascending=False)

            count      mean       std  min   25%  50%   75%  max
user_id
7171715   10826.0  0.258082  0.443680 -1.0  0.00  0.0  1.00  1.0
18122922   7593.0  0.667589  0.519001 -1.0  0.00  1.0  1.00  1.0
1283420    7569.0  0.806315  0.425169 -1.0  1.00  1.0  1.00  1.0
9418512    7482.0  0.561347  0.552587 -1.0  0.00  1.0  1.00  1.0
4421282    6962.0  0.756823  0.429701 -1.0  1.00  1.0  1.00  1.0
...           ...       ...       ...  ...   ...  ...   ...  ...
1946295       3.0  0.666667  0.577350  0.0  0.50  1.0  1.00  1.0
2148001       2.0  0.500000  0.707107  0.0  0.25  0.5  0.75  1.0
15960740      2.0  0.500000  0.707107  0.0  0.25  0.5  0.75  1.0
1880240       1.0  1.000000       NaN  1.0  1.00  1.0  1.00  1.0
19887248      1.0  0.000000       NaN  0.0  0.00  0.0  0.00  0.0

[3824 rows x 8 columns]

In [32]:
df[df["user_id"] == 7171715].to_csv("008_user_id/7171715.csv", index=False)

In [33]:
df[df["user_id"] == 1283420].to_csv("008_user_id/1283420.csv", index=False)