In [1]:
import pandas as pd
import numpy as np
import tqdm
import warnings
import matplotlib.pyplot as plt

pd.set_option("max_rows", 200)
pd.set_option("max_columns", 50)

%matplotlib inline

In [2]:


data_types_dict = {
    'row_id': 'int64',
    'timestamp': 'int64',
    'user_id': 'int32',
    'content_id': 'int16',
    'content_type_id': 'int8',
    'task_container_id': 'int16',
    'user_answer': 'int8',
    'answered_correctly': 'int8',
}


df = pd.read_pickle("../input/riiid-test-answer-prediction/split10/train_0.pickle")

In [3]:
import sys
sys.path.append("../")
# df = pd.read_pickle("../input/riiid-test-answer-prediction/split10/train_0.pickle")
df = df.sort_values(["user_id", "timestamp"])
# large_user_id = df["user_id"].value_counts()
# large_user_id = large_user_id[large_user_id > 1000] 
# df = df[df["user_id"].isin(large_user_id.index)]
# df = df[df["answered_correctly"] != -1]

In [4]:
ans = df.groupby("content_id")["answered_correctly"].describe()

In [5]:
aa = ans.sort_values("count", ascending=False)

In [6]:
aa[aa["count"] > 1000].sort_values("mean")

             count      mean       std  min  25%  50%  75%  max
content_id
22362       1123.0 -1.000000  0.000000 -1.0 -1.0 -1.0 -1.0 -1.0
16034       1120.0 -1.000000  0.000000 -1.0 -1.0 -1.0 -1.0 -1.0
17124       1121.0 -1.000000  0.000000 -1.0 -1.0 -1.0 -1.0 -1.0
15888       2318.0 -1.000000  0.000000 -1.0 -1.0 -1.0 -1.0 -1.0
32168       1005.0 -1.000000  0.000000 -1.0 -1.0 -1.0 -1.0 -1.0
...            ...       ...       ...  ...  ...  ...  ...  ...
128         1871.0  0.967397  0.177642  0.0  1.0  1.0  1.0  1.0
2722        1352.0  0.971154  0.167436  0.0  1.0  1.0  1.0  1.0
1457        1494.0  0.974565  0.157495  0.0  1.0  1.0  1.0  1.0
2407        1027.0  0.976631  0.151146  0.0  1.0  1.0  1.0  1.0
2082        1553.0  0.978751  0.144260  0.0  1.0  1.0  1.0  1.0

[2855 rows x 8 columns]

In [22]:
df[df["user_id"] == 1622540910].to_csv("008_user_id/1622540910_mean09183.csv", index=False)

In [23]:
df[df["user_id"] == 645195940].to_csv("008_user_id/645195940_mean02044.csv", index=False)

In [26]:
df[df["user_id"] == 477605950].to_csv("008_user_id/477605950_mean02305.csv", index=False)

In [24]:
df[df["user_id"] == 1622540910]["user_answer"].value_counts()

 3    386
 0    386
 1    342
 2    327
-1      4
Name: user_answer, dtype: int64

In [25]:
df[df["user_id"] == 645195940]["user_answer"].value_counts()

 0    1384
 3    1383
 1     663
 2     468
-1     192
Name: user_answer, dtype: int64

In [27]:
df[df["user_id"] == 477605950]["user_answer"].value_counts()

0    744
3    585
1    418
2     77
Name: user_answer, dtype: int64

In [28]:
df.groupby("user_answer")["answered_correctly"].describe()

                 count      mean       std  min  25%  50%  75%  max
user_answer
-1            196324.0 -1.000000  0.000000 -1.0 -1.0 -1.0 -1.0 -1.0
 0           2796239.0  0.655681  0.475146  0.0  0.0  1.0  1.0  1.0
 1           2677171.0  0.645070  0.478492  0.0  0.0  1.0  1.0  1.0
 2           1778986.0  0.666551  0.471446  0.0  0.0  1.0  1.0  1.0
 3           2585146.0  0.656668  0.474821  0.0  0.0  1.0  1.0  1.0

In [31]:
df["correct_answer"].value_counts()

 0    2754604
 3    2584152
 1    2574683
 2    1924103
-1     196324
Name: correct_answer, dtype: int64