In [4]:
import pandas as pd
import numpy as np
import tqdm
import warnings
import matplotlib.pyplot as plt

pd.set_option("max_rows", 200)
pd.set_option("max_columns", 50)

%matplotlib inline

In [5]:


data_types_dict = {
    'row_id': 'int64',
    'timestamp': 'int64',
    'user_id': 'int32',
    'content_id': 'int16',
    'content_type_id': 'int8',
    'task_container_id': 'int16',
    'user_answer': 'int8',
    'answered_correctly': 'int8',
}


df = pd.read_pickle("../input/riiid-test-answer-prediction/split10/train_0.pickle")

In [6]:
import sys
sys.path.append("../")
# df = pd.read_pickle("../input/riiid-test-answer-prediction/split10/train_0.pickle")
df = df.sort_values(["user_id", "timestamp"])
# large_user_id = df["user_id"].value_counts()
# large_user_id = large_user_id[large_user_id > 1000] 
# df = df[df["user_id"].isin(large_user_id.index)]
# df = df[df["answered_correctly"] != -1]

In [9]:
df["user_answer"].value_counts()

 0    2796239
 1    2677171
 3    2585146
 2    1778986
-1     196324
Name: user_answer, dtype: int64

In [10]:
df.columns

Index(['timestamp', 'user_id', 'content_id', 'content_type_id',
       'task_container_id', 'user_answer', 'answered_correctly',
       'prior_question_elapsed_time', 'prior_question_had_explanation',
       'bundle_id', 'correct_answer', 'part', 'tags', 'tag', 'type_of'],
      dtype='object')

In [11]:
df["correct_answer"].value_counts()

 0    2754604
 3    2584152
 1    2574683
 2    1924103
-1     196324
Name: correct_answer, dtype: int64

In [ ]:
df.groupby("prior_question_had_explanation")["correct_answer"].value_counts()

In [19]:
df.groupby(["prior_question_had_explanation", "correct_answer"])["answered_correctly"].describe()

                                                   count      mean       std  \
prior_question_had_explanation correct_answer
False                          -1               196324.0 -1.000000  0.000000
                                0               229738.0  0.490415  0.499909
                                1               176578.0  0.562165  0.496122
                                2               266861.0  0.460824  0.498464
                                3               237295.0  0.501005  0.500000
True                            0              2502502.0  0.680768  0.466179
                                1              2391633.0  0.678887  0.466904
                                2              1652801.0  0.641687  0.479505
                                3              2340950.0  0.672967  0.469130

                                               min  25%  50%  75%  max
prior_question_had_explanation correct_answer
False                          -1             -1.0 -1.0 -1.0 -1.0 -1.0
                                0              0.0  0.0  0.0  1.0  1.0
                                1              0.0  0.0  1.0  1.0  1.0
                                2              0.0  0.0  0.0  1.0  1.0
                                3              0.0  0.0  1.0  1.0  1.0
True                            0              0.0  0.0  1.0  1.0  1.0
                                1              0.0  0.0  1.0  1.0  1.0
                                2              0.0  0.0  1.0  1.0  1.0
                                3              0.0  0.0  1.0  1.0  1.0

In [20]:
df_q = pd.read_csv("../input/riiid-test-answer-prediction/questions.csv")

In [31]:
df.groupby("part")["answered_correctly"].describe()

          count      mean       std  min  25%  50%  75%  max
part
1      757288.0  0.702737  0.504773 -1.0  0.0  1.0  1.0  1.0
2     1902674.0  0.673351  0.510238 -1.0  0.0  1.0  1.0  1.0
3      848384.0  0.676426  0.491492 -1.0  0.0  1.0  1.0  1.0
4      795379.0  0.605461  0.512266 -1.0  0.0  1.0  1.0  1.0
5     4182879.0  0.573192  0.538340 -1.0  0.0  1.0  1.0  1.0
6     1050297.0  0.634585  0.522306 -1.0  0.0  1.0  1.0  1.0
7      496965.0  0.632980  0.504755 -1.0  0.0  1.0  1.0  1.0