In [1]:
import pandas as pd
import numpy as np
import tqdm
import warnings
import matplotlib.pyplot as plt

pd.set_option("max_rows", 200)
pd.set_option("max_columns", 50)

%matplotlib inline

In [2]:


data_types_dict = {
    'row_id': 'int64',
    'timestamp': 'int64',
    'user_id': 'int32',
    'content_id': 'int16',
    'content_type_id': 'int8',
    'task_container_id': 'int16',
    'user_answer': 'int8',
    'answered_correctly': 'int8',
}


df = pd.read_pickle("../input/riiid-test-answer-prediction/split10/train_0.pickle")

In [4]:
import sys
sys.path.append("../")
# df = pd.read_pickle("../input/riiid-test-answer-prediction/split10/train_0.pickle")
df = df.sort_values(["user_id", "timestamp"])
# large_user_id = df["user_id"].value_counts()
# large_user_id = large_user_id[large_user_id > 1000] 
# df = df[df["user_id"].isin(large_user_id.index)]
# df = df[df["answered_correctly"] != -1]

In [20]:
df["answered_correctly"] = df["answered_correctly"].replace(-1, np.nan)

In [7]:
df.groupby("prior_question_had_explanation")["correct_answer"].value_counts()

prior_question_had_explanation  correct_answer
False                            2                 266861
                                 3                 237295
                                 0                 229738
                                -1                 196324
                                 1                 176578
True                             0                2502502
                                 1                2391633
                                 3                2340950
                                 2                1652801
Name: correct_answer, dtype: int64

In [14]:
df.columns

Index(['timestamp', 'user_id', 'content_id', 'content_type_id',
       'task_container_id', 'user_answer', 'answered_correctly',
       'prior_question_elapsed_time', 'prior_question_had_explanation',
       'bundle_id', 'correct_answer', 'part', 'tags', 'tag', 'type_of'],
      dtype='object')

In [21]:
df.groupby(["prior_question_had_explanation", "part"])["answered_correctly"].describe()

                                         count      mean       std  min  25%  \
prior_question_had_explanation part
False                          1       92467.0  0.580996  0.493399  0.0  0.0
                               2       81551.0  0.638545  0.480425  0.0  0.0
                               3       81095.0  0.559936  0.496398  0.0  0.0
                               4      164991.0  0.405652  0.491019  0.0  0.0
                               5      295656.0  0.435175  0.495781  0.0  0.0
                               6      109956.0  0.572929  0.494655  0.0  0.0
                               7       84756.0  0.519161  0.499636  0.0  0.0
True                           1      630946.0  0.763899  0.424685  0.0  1.0
                               2     1782506.0  0.711025  0.453286  0.0  0.0
                               3      757664.0  0.710191  0.453674  0.0  0.0
                               4      621027.0  0.682745  0.465408  0.0  0.0
                               5     3770261.0  0.623463  0.484517  0.0  0.0
                               6      918854.0  0.680187  0.466404  0.0  0.0
                               7      406628.0  0.679117  0.466816  0.0  0.0

                                     50%  75%  max
prior_question_had_explanation part
False                          1     1.0  1.0  1.0
                               2     1.0  1.0  1.0
                               3     1.0  1.0  1.0
                               4     0.0  1.0  1.0
                               5     0.0  1.0  1.0
                               6     1.0  1.0  1.0
                               7     1.0  1.0  1.0
True                           1     1.0  1.0  1.0
                               2     1.0  1.0  1.0
                               3     1.0  1.0  1.0
                               4     1.0  1.0  1.0
                               5     1.0  1.0  1.0
                               6     1.0  1.0  1.0
                               7     1.0  1.0  1.0