In [1]:
import pandas as pd
import numpy as np
import tqdm
import warnings
import matplotlib.pyplot as plt

pd.set_option("max_rows", 200)
pd.set_option("max_columns", 50)

%matplotlib inline

In [2]:


data_types_dict = {
    'row_id': 'int64',
    'timestamp': 'int64',
    'user_id': 'int32',
    'content_id': 'int16',
    'content_type_id': 'int8',
    'task_container_id': 'int16',
    'user_answer': 'int8',
    'answered_correctly': 'int8',
}


df = pd.read_pickle("../input/riiid-test-answer-prediction/split10/train_0.pickle")

In [3]:
import sys
sys.path.append("../")
# df = pd.read_pickle("../input/riiid-test-answer-prediction/split10/train_0.pickle")
df = df.sort_values(["user_id", "timestamp"])
# large_user_id = df["user_id"].value_counts()
# large_user_id = large_user_id[large_user_id > 1000] 
# df = df[df["user_id"].isin(large_user_id.index)]
# df = df[df["answered_correctly"] != -1]

In [21]:
df["answered_correctly"] = df["answered_correctly"].replace(-1, np.nan)

In [10]:
df.groupby("content_id")["bundle_id"].nunique()

KeyboardInterrupt:

In [15]:
d = df[["content_id", "bundle_id"]].drop_duplicates().groupby("content_id")["bundle_id"].nunique().to_dict()

In [17]:
df["bundle_id_num"] = df["content_id"].map(d)

In [18]:
df.groupby("bundle_id_num")["answered_correctly"].describe()

                   count      mean       std  min  25%  50%  75%  max
bundle_id_num
1              9709879.0  0.654840  0.475421  0.0  0.0  1.0  1.0  1.0
2               127663.0  0.668604  0.470717  0.0  0.0  1.0  1.0  1.0

In [19]:
df["not_bundle"] = df["content_id"] != df["bundle_id"]

In [20]:
df.groupby("not_bundle")["answered_correctly"].describe()

                count      mean       std  min  25%  50%  75%  max
not_bundle
False       7607725.0  0.654141  0.475648  0.0  0.0  1.0  1.0  1.0
True        2229817.0  0.658012  0.474376  0.0  0.0  1.0  1.0  1.0