In [1]:
import pandas as pd
import numpy as np
import tqdm
import warnings
import matplotlib.pyplot as plt

pd.set_option("max_rows", 200)
pd.set_option("max_columns", 50)
tqdm.tqdm.pandas()
%matplotlib inline

In [2]:
df = pd.read_pickle("../input/riiid-test-answer-prediction/split10/train_0.pickle")

In [3]:
import sys
sys.path.append("../")
# df = pd.read_pickle("../input/riiid-test-answer-prediction/split10/train_0.pickle")
df = df.sort_values(["user_id", "timestamp"])
# large_user_id = df["user_id"].value_counts()
# large_user_id = large_user_id[large_user_id > 1000] 
# df = df[df["user_id"].isin(large_user_id.index)]
# df = df[df["answered_correctly"] != -1]

In [4]:
df["answered_correctly"] = df["answered_correctly"].replace(-1, np.nan)

In [5]:
def f(series):
    return series.shift(1).cumsum().fillna(0) / np.arange(len(series))

In [6]:
df["target_enc_content_id"] = df.groupby("content_id")["answered_correctly"].transform(f)

In [11]:
df["first_content_id"] = df.groupby("user_id")["content_id"].transform("first")

In [14]:
df.groupby("first_content_id")["answered_correctly"].describe().sort_values("count", ascending=False).head(30)

                      count      mean       std  min  25%  50%  75%  max
first_content_id
7900              3617319.0  0.663924  0.472365  0.0  0.0  1.0  1.0  1.0
128                491305.0  0.660321  0.473601  0.0  0.0  1.0  1.0  1.0
5692               117899.0  0.646808  0.477964  0.0  0.0  1.0  1.0  1.0
4606                19050.0  0.691339  0.461953  0.0  0.0  1.0  1.0  1.0
5039                14999.0  0.637509  0.480736  0.0  0.0  1.0  1.0  1.0
3951                14455.0  0.642477  0.479287  0.0  0.0  1.0  1.0  1.0
4583                13451.0  0.682254  0.465617  0.0  0.0  1.0  1.0  1.0
4507                13230.0  0.621693  0.484983  0.0  0.0  1.0  1.0  1.0
6119                12158.0  0.616713  0.486207  0.0  0.0  1.0  1.0  1.0
5836                12133.0  0.753235  0.431147  0.0  1.0  1.0  1.0  1.0
5196                11985.0  0.710138  0.453717  0.0  0.0  1.0  1.0  1.0
3753                11805.0  0.623973  0.484407  0.0  0.0  1.0  1.0  1.0
4892                11805.0  0.669123  0.470549  0.0  0.0  1.0  1.0  1.0
4362                11568.0  0.766598  0.423014  0.0  1.0  1.0  1.0  1.0
6655                11385.0  0.729908  0.444027  0.0  0.0  1.0  1.0  1.0
3680                11274.0  0.698865  0.458772  0.0  0.0  1.0  1.0  1.0
4898                11182.0  0.726614  0.445717  0.0  0.0  1.0  1.0  1.0
5642                11181.0  0.680172  0.466431  0.0  0.0  1.0  1.0  1.0
4353                11045.0  0.676686  0.467763  0.0  0.0  1.0  1.0  1.0
5828                11030.0  0.772892  0.418982  0.0  1.0  1.0  1.0  1.0
4861                10963.0  0.660768  0.473470  0.0  0.0  1.0  1.0  1.0
3915                10957.0  0.688236  0.463235  0.0  0.0  1.0  1.0  1.0
3820                10871.0  0.711986  0.452858  0.0  0.0  1.0  1.0  1.0
484                 10652.0  0.717987  0.450001  0.0  0.0  1.0  1.0  1.0
4778                10643.0  0.765010  0.424013  0.0  1.0  1.0  1.0  1.0
5530                10545.0  0.760929  0.426536  0.0  1.0  1.0  1.0  1.0
4897                10511.0  0.645895  0.478264  0.0  0.0  1.0  1.0  1.0
4032                10307.0  0.729407  0.444288  0.0  0.0  1.0  1.0  1.0
3674                10284.0  0.671723  0.469609  0.0  0.0  1.0  1.0  1.0
4210                10282.0  0.613986  0.486858  0.0  0.0  1.0  1.0  1.0

In [20]:
df[df["content_id"] == 7900]

,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation,bundle_id,correct_answer,part,tags,tag,type_of,target_enc_content_id,first_content_id,first_part
0,0,24600,7900,0,0,0,1.0,NaN,NaN,7900,0,1,131 93 81,-1,NaN,NaN,7900,1
87,0,138650,7900,0,0,1,0.0,NaN,NaN,7900,0,1,131 93 81,-1,NaN,1.000000,7900,1
1618,0,408250,7900,0,0,0,1.0,NaN,NaN,7900,0,1,131 93 81,-1,NaN,0.500000,7900,1
4106,0,745460,7900,0,0,0,1.0,NaN,NaN,7900,0,1,131 93 81,-1,NaN,0.666667,7900,1
4180,0,841970,7900,0,0,0,1.0,NaN,NaN,7900,0,1,131 93 81,-1,NaN,0.750000,7900,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9836801,0,2146821380,7900,0,0,0,1.0,NaN,NaN,7900,0,1,131 93 81,-1,NaN,0.831237,7900,1
9836923,0,2146845160,7900,0,0,0,1.0,NaN,NaN,7900,0,1,131 93 81,-1,NaN,0.831247,7900,1
9836953,0,2146960830,7900,0,0,0,1.0,NaN,NaN,7900,0,1,131 93 81,-1,NaN,0.831256,7900,1
9837166,0,2147375580,7900,0,0,0,1.0,NaN,NaN,7900,0,1,131 93 81,-1,NaN,0.831266,7900,1
9837266,0,2147470770,7900,0,0,0,1.0,NaN,NaN,7900,0,1,131 93 81,-1,NaN,0.831275,7900,1

In [17]:
df["first_part"] = df.groupby("user_id")["part"].transform("first")

In [18]:
df.groupby("first_part")["answered_correctly"].describe().sort_values("count", ascending=False).head(30)

                count      mean       std  min  25%  50%  75%  max
first_part
5           5595757.0  0.648363  0.477481  0.0  0.0  1.0  1.0  1.0
1           4149080.0  0.663780  0.472415  0.0  0.0  1.0  1.0  1.0
2             63501.0  0.660431  0.473567  0.0  0.0  1.0  1.0  1.0
4             10890.0  0.636272  0.481094  0.0  0.0  1.0  1.0  1.0
6              8943.0  0.718439  0.449786  0.0  0.0  1.0  1.0  1.0
3              5776.0  0.704120  0.456477  0.0  0.0  1.0  1.0  1.0
7              3595.0  0.627538  0.483528  0.0  0.0  1.0  1.0  1.0