In [1]:
import pandas as pd
import numpy as np
import tqdm
import warnings
import matplotlib.pyplot as plt
from sklearn.metrics import roc_auc_score

pd.set_option("max_rows", 200)
pd.set_option("max_columns", 50)
tqdm.tqdm.pandas()
%matplotlib inline

In [2]:
df = pd.read_pickle("../input/riiid-test-answer-prediction/split10/train_0.pickle").sort_values(["user_id", "timestamp"]).reset_index(drop=True)

In [3]:
import sys
sys.path.append("../")
# df = pd.read_pickle("../input/riiid-test-answer-prediction/split10/train_0.pickle")
df = df.sort_values(["user_id", "timestamp"])
# large_user_id = df["user_id"].value_counts()
# large_user_id = large_user_id[large_user_id > 1000] 
# df = df[df["user_id"].isin(large_user_id.index)]
# df = df[df["answered_correctly"] != -1]

In [4]:
df.columns

Index(['timestamp', 'user_id', 'content_id', 'content_type_id',
       'task_container_id', 'user_answer', 'answered_correctly',
       'prior_question_elapsed_time', 'prior_question_had_explanation',
       'question_id', 'bundle_id', 'correct_answer', 'part', 'tags', 'tag',
       'type_of'],
      dtype='object')

In [14]:
w_df = df.groupby("user_id").head(10)

In [15]:
w_df["cumcount"] = w_df.groupby("user_id").cumcount()
w_df.groupby(["cumcount", "task_container_id"])["answered_correctly"].describe()

/home/owner/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                              count      mean       std  min   25%  50%   75%  \
cumcount task_container_id
0        0                  39017.0  0.682164  0.465971 -1.0  0.00  1.0  1.00
         1                    223.0  0.573991  0.563648 -1.0  0.00  1.0  1.00
         2                     21.0  0.571429  0.507093  0.0  0.00  1.0  1.00
         3                     10.0  0.500000  0.527046  0.0  0.00  0.5  1.00
         4                      3.0  0.666667  0.577350  0.0  0.50  1.0  1.00
         5                      9.0  0.555556  0.527046  0.0  0.00  1.0  1.00
         6                      2.0  0.000000  0.000000  0.0  0.00  0.0  0.00
         7                      1.0  0.000000       NaN  0.0  0.00  0.0  0.00
         8                      1.0  0.000000       NaN  0.0  0.00  0.0  0.00
         10                     1.0  1.000000       NaN  1.0  1.00  1.0  1.00
         12                     1.0  1.000000       NaN  1.0  1.00  1.0  1.00
         13                     2.0  0.500000  0.707107  0.0  0.25  0.5  0.75
1        0                     88.0  0.511364  0.502735  0.0  0.00  1.0  1.00
         1                  38838.0  0.526572  0.499351 -1.0  0.00  1.0  1.00
         2                    278.0  0.629496  0.491216 -1.0  0.00  1.0  1.00
         3                     38.0  0.684211  0.471069  0.0  0.00  1.0  1.00
         4                     14.0  0.285714  0.468807  0.0  0.00  0.0  0.75
         5                     12.0  0.250000  0.452267  0.0  0.00  0.0  0.25
         6                      6.0  0.333333  0.516398  0.0  0.00  0.0  0.75
         7                      2.0  0.500000  0.707107  0.0  0.25  0.5  0.75
         9                      1.0  0.000000       NaN  0.0  0.00  0.0  0.00
         13                     1.0  0.000000       NaN  0.0  0.00  0.0  0.00
         14                     2.0  0.000000  0.000000  0.0  0.00  0.0  0.00
         30                     1.0  0.000000       NaN  0.0  0.00  0.0  0.00
2        0                     87.0  0.563218  0.498863  0.0  0.00  1.0  1.00
         1                     19.0  0.526316  0.512989  0.0  0.00  1.0  1.00
         2                  38769.0  0.432253  0.495447 -1.0  0.00  0.0  1.00
         3                    319.0  0.664577  0.485998 -1.0  0.00  1.0  1.00
         4                     45.0  0.577778  0.499495  0.0  0.00  1.0  1.00
         5                     19.0  0.210526  0.418854  0.0  0.00  0.0  0.00
         6                      6.0  0.166667  0.408248  0.0  0.00  0.0  0.00
         7                      5.0  0.600000  0.547723  0.0  0.00  1.0  1.00
         8                      1.0  1.000000       NaN  1.0  1.00  1.0  1.00
         10                     1.0  1.000000       NaN  1.0  1.00  1.0  1.00
         14                     3.0  1.000000  0.000000  1.0  1.00  1.0  1.00
         17                     1.0  1.000000       NaN  1.0  1.00  1.0  1.00
         31                     1.0  0.000000       NaN  0.0  0.00  0.0  0.00
3        0                     35.0  0.771429  0.426043  0.0  1.00  1.0  1.00
         1                     67.0  0.537313  0.502369  0.0  0.00  1.0  1.00
         2                     20.0  0.500000  0.512989  0.0  0.00  0.5  1.00
         3                  38728.0  0.543328  0.498177 -1.0  0.00  1.0  1.00
         4                    350.0  0.577143  0.511801 -1.0  0.00  1.0  1.00
         5                     38.0  0.552632  0.503897  0.0  0.00  1.0  1.00
         6                     15.0  0.266667  0.457738  0.0  0.00  0.0  0.50
         7                     11.0  0.636364  0.504525  0.0  0.00  1.0  1.00
         8                      3.0  0.666667  0.577350  0.0  0.50  1.0  1.00
         9                      1.0  1.000000       NaN  1.0  1.00  1.0  1.00
         10                     1.0  1.000000       NaN  1.0  1.00  1.0  1.00
         11                     1.0  0.000000       NaN  0.0  0.00  0.0  0.00
         14                     2.0  0.500000  0.707107  0.0  0.25  0.5  0.75
         15                     1.0  0.000000       NaN  0.0  0.00  0.0  0.00
         32                     1.0  1.000000       NaN  1.0  1.00  1.0  1.00
4        0                     16.0  0.625000  0.500000  0.0  0.00  1.0  1.00
         1                     57.0  0.614035  0.491150  0.0  0.00  1.0  1.00
         2                     36.0  0.444444  0.503953  0.0  0.00  0.0  1.00
         3                     19.0  0.473684  0.512989  0.0  0.00  0.0  1.00
         4                  38707.0  0.479758  0.499597  0.0  0.00  0.0  1.00
         5                    360.0  0.586111  0.509876 -1.0  0.00  1.0  1.00
         6                     38.0  0.473684  0.506009  0.0  0.00  0.0  1.00
         7                     16.0  0.687500  0.478714  0.0  0.00  1.0  1.00
         8                      3.0  1.000000  0.000000  1.0  1.00  1.0  1.00
         9                      2.0  0.500000  0.707107  0.0  0.25  0.5  0.75
         10                     2.0  1.000000  0.000000  1.0  1.00  1.0  1.00
         11                     1.0  1.000000       NaN  1.0  1.00  1.0  1.00
         12                     2.0  0.500000  0.707107  0.0  0.25  0.5  0.75
         14                     2.0  0.000000  0.000000  0.0  0.00  0.0  0.00
         16                     1.0  1.000000       NaN  1.0  1.00  1.0  1.00
         18                     1.0  1.000000       NaN  1.0  1.00  1.0  1.00
         33                     1.0  1.000000       NaN  1.0  1.00  1.0  1.00
5        0                      5.0  0.400000  0.894427 -1.0  0.00  1.0  1.00
         1                     66.0  0.545455  0.501745  0.0  0.00  1.0  1.00
         2                     19.0  0.473684  0.512989  0.0  0.00  0.0  1.00
         3                     36.0  0.555556  0.503953  0.0  0.00  1.0  1.00
         4                  14687.0  0.485872  0.499817  0.0  0.00  0.0  1.00
         5                  24061.0  0.497818  0.500338 -1.0  0.00  0.0  1.00
         6                    335.0  0.570149  0.513592 -1.0  0.00  1.0  1.00
         7                     34.0  0.676471  0.588814 -1.0  0.25  1.0  1.00
         8                      4.0  0.500000  0.577350  0.0  0.00  0.5  1.00
         9                      3.0  0.666667  0.577350  0.0  0.50  1.0  1.00
         10                     4.0  0.750000  0.500000  0.0  0.75  1.0  1.00
         11                     1.0  0.000000       NaN  0.0  0.00  0.0  0.00
         12                     3.0  0.000000  0.000000  0.0  0.00  0.0  0.00
         13                     1.0  0.000000       NaN  0.0  0.00  0.0  0.00
         15                     1.0  0.000000       NaN  0.0  0.00  0.0  0.00
         17                     1.0  1.000000       NaN  1.0  1.00  1.0  1.00
         34                     1.0  0.000000       NaN  0.0  0.00  0.0  0.00
6        0                      8.0  0.625000  0.517549  0.0  0.00  1.0  1.00
         1                     24.0  0.708333  0.464306  0.0  0.00  1.0  1.00
         2                     52.0  0.461538  0.540934 -1.0  0.00  0.0  1.00
         3                     17.0  0.588235  0.507300  0.0  0.00  1.0  1.00
         4                  14686.0  0.456013  0.498078  0.0  0.00  0.0  1.00
         5                     89.0  0.426966  0.497440  0.0  0.00  0.0  1.00
         6                  24008.0  0.492169  0.500366 -1.0  0.00  0.0  1.00
         7                    323.0  0.597523  0.509774 -1.0  0.00  1.0  1.00
         8                     35.0  0.714286  0.458349  0.0  0.00  1.0  1.00
         9                      5.0  0.400000  0.547723  0.0  0.00  0.0  1.00
         10                     4.0  1.000000  0.000000  1.0  1.00  1.0  1.00
         11                     2.0  0.500000  0.707107  0.0  0.25  0.5  0.75
         12                     2.0  0.500000  0.707107  0.0  0.25  0.5  0.75
         13                     2.0  0.000000  0.000000  0.0  0.00  0.0  0.00
         15                     1.0  0.000000       NaN  0.0  0.00  0.0  0.00
         16                     1.0  1.000000       NaN  1.0  1.00  1.0  1.00
         18                     1.0  1.000000       NaN  1.0  1.00  1.0  1.00
         35                     1.0  1.000000       NaN  1.0  1.00  1.0  1.00
7        0                      5.0  0.400000  0.894427 -1.0  0.00  1.0  1.00
         1                     29.0  0.517241  0.508548  0.0  0.00  1.0  1.00
         2                     36.0  0.527778  0.506309  0.0  0.00  1.0  1.00
         3                     23.0  0.304348  0.470472  0.0  0.00  0.0  1.00
         4                     27.0  0.444444  0.506370  0.0  0.00  0.0  1.00
         5                  14699.0  0.352745  0.477840  0.0  0.00  0.0  1.00
         6                     72.0  0.444444  0.500391  0.0  0.00  0.0  1.00
         7                  23637.0  0.530905  0.503191 -1.0  0.00  1.0  1.00
         8                    501.0  0.538922  0.580502 -1.0  0.00  1.0  1.00
         9                     45.0  0.422222  0.690484 -1.0  0.00  1.0  1.00
         10                     9.0  0.555556  0.527046  0.0  0.00  1.0  1.00
         11                     5.0  0.400000  0.547723  0.0  0.00  0.0  1.00
         12                     2.0  1.000000  0.000000  1.0  1.00  1.0  1.00
         13                     1.0  1.000000       NaN  1.0  1.00  1.0  1.00
         14                     4.0  0.750000  0.500000  0.0  0.75  1.0  1.00
         15                     2.0  0.500000  0.707107  0.0  0.25  0.5  0.75
         17                     1.0  1.000000       NaN  1.0  1.00  1.0  1.00
         19                     1.0  0.000000       NaN  0.0  0.00  0.0  0.00
         36                     1.0  1.000000       NaN  1.0  1.00  1.0  1.00
8        0                      3.0  1.000000  0.000000  1.0  1.00  1.0  1.00
         1                     10.0  0.800000  0.421637  0.0  1.00  1.0  1.00
         2                     49.0  0.428571  0.577350 -1.0  0.00  0.0  1.00
         3                     15.0  0.666667  0.487950  0.0  0.00  1.0  1.00
         4                     31.0  0.548387  0.505879  0.0  0.00  1.0  1.00
         5                  14582.0  0.378686  0.485076  0.0  0.00  0.0  1.00
         6                    176.0  0.471591  0.500617  0.0  0.00  0.0  1.00
         7                    354.0  0.519774  0.500316  0.0  0.00  1.0  1.00
         8                  23188.0  0.544031  0.499970 -1.0  0.00  1.0  1.00
         9                    584.0  0.556507  0.558937 -1.0  0.00  1.0  1.00
         10                    49.0  0.551020  0.579555 -1.0  0.00  1.0  1.00
         11                     8.0  0.625000  0.517549  0.0  0.00  1.0  1.00
         12                     5.0  0.200000  0.447214  0.0  0.00  0.0  0.00
         13                     1.0  1.000000       NaN  1.0  1.00  1.0  1.00
         14                     4.0  0.750000  0.500000  0.0  0.75  1.0  1.00
         15                     3.0  0.666667  0.577350  0.0  0.50  1.0  1.00
         18                     1.0  1.000000       NaN  1.0  1.00  1.0  1.00
         20                     1.0  0.000000       NaN  0.0  0.00  0.0  0.00
         37                     1.0  0.000000       NaN  0.0  0.00  0.0  0.00
9        0                      6.0  0.833333  0.408248  0.0  1.00  1.0  1.00
         1                      7.0  0.285714  0.487950  0.0  0.00  0.0  0.50
         2                     18.0  0.500000  0.514496  0.0  0.00  0.5  1.00
         3                     46.0  0.543478  0.503610  0.0  0.00  1.0  1.00
         4                     16.0  0.500000  0.516398  0.0  0.00  0.5  1.00
         5                  14566.0  0.350336  0.477092  0.0  0.00  0.0  1.00
         6                     98.0  0.326531  0.471355  0.0  0.00  0.0  1.00
         7                    429.0  0.533800  0.499439  0.0  0.00  1.0  1.00
         8                    141.0  0.489362  0.529380 -1.0  0.00  1.0  1.00
         9                  22936.0  0.554805  0.499536 -1.0  0.00  1.0  1.00
         10                   694.0  0.541787  0.612859 -1.0  0.00  1.0  1.00
         11                    49.0  0.551020  0.542418 -1.0  0.00  1.0  1.00
         12                    11.0  0.636364  0.504525  0.0  0.00  1.0  1.00
         13                     6.0  0.500000  0.547723  0.0  0.00  0.5  1.00
         14                     5.0  0.400000  0.547723  0.0  0.00  0.0  1.00
         15                     2.0  1.000000  0.000000  1.0  1.00  1.0  1.00
         16                     1.0  1.000000       NaN  1.0  1.00  1.0  1.00
         20                     1.0  1.000000       NaN  1.0  1.00  1.0  1.00
         21                     1.0  1.000000       NaN  1.0  1.00  1.0  1.00
         38                     1.0  1.000000       NaN  1.0  1.00  1.0  1.00

                            max
cumcount task_container_id
0        0                  1.0
         1                  1.0
         2                  1.0
         3                  1.0
         4                  1.0
         5                  1.0
         6                  0.0
         7                  0.0
         8                  0.0
         10                 1.0
         12                 1.0
         13                 1.0
1        0                  1.0
         1                  1.0
         2                  1.0
         3                  1.0
         4                  1.0
         5                  1.0
         6                  1.0
         7                  1.0
         9                  0.0
         13                 0.0
         14                 0.0
         30                 0.0
2        0                  1.0
         1                  1.0
         2                  1.0
         3                  1.0
         4                  1.0
         5                  1.0
         6                  1.0
         7                  1.0
         8                  1.0
         10                 1.0
         14                 1.0
         17                 1.0
         31                 0.0
3        0                  1.0
         1                  1.0
         2                  1.0
         3                  1.0
         4                  1.0
         5                  1.0
         6                  1.0
         7                  1.0
         8                  1.0
         9                  1.0
         10                 1.0
         11                 0.0
         14                 1.0
         15                 0.0
         32                 1.0
4        0                  1.0
         1                  1.0
         2                  1.0
         3                  1.0
         4                  1.0
         5                  1.0
         6                  1.0
         7                  1.0
         8                  1.0
         9                  1.0
         10                 1.0
         11                 1.0
         12                 1.0
         14                 0.0
         16                 1.0
         18                 1.0
         33                 1.0
5        0                  1.0
         1                  1.0
         2                  1.0
         3                  1.0
         4                  1.0
         5                  1.0
         6                  1.0
         7                  1.0
         8                  1.0
         9                  1.0
         10                 1.0
         11                 0.0
         12                 0.0
         13                 0.0
         15                 0.0
         17                 1.0
         34                 0.0
6        0                  1.0
         1                  1.0
         2                  1.0
         3                  1.0
         4                  1.0
         5                  1.0
         6                  1.0
         7                  1.0
         8                  1.0
         9                  1.0
         10                 1.0
         11                 1.0
         12                 1.0
         13                 0.0
         15                 0.0
         16                 1.0
         18                 1.0
         35                 1.0
7        0                  1.0
         1                  1.0
         2                  1.0
         3                  1.0
         4                  1.0
         5                  1.0
         6                  1.0
         7                  1.0
         8                  1.0
         9                  1.0
         10                 1.0
         11                 1.0
         12                 1.0
         13                 1.0
         14                 1.0
         15                 1.0
         17                 1.0
         19                 0.0
         36                 1.0
8        0                  1.0
         1                  1.0
         2                  1.0
         3                  1.0
         4                  1.0
         5                  1.0
         6                  1.0
         7                  1.0
         8                  1.0
         9                  1.0
         10                 1.0
         11                 1.0
         12                 1.0
         13                 1.0
         14                 1.0
         15                 1.0
         18                 1.0
         20                 0.0
         37                 0.0
9        0                  1.0
         1                  1.0
         2                  1.0
         3                  1.0
         4                  1.0
         5                  1.0
         6                  1.0
         7                  1.0
         8                  1.0
         9                  1.0
         10                 1.0
         11                 1.0
         12                 1.0
         13                 1.0
         14                 1.0
         15                 1.0
         16                 1.0
         20                 1.0
         21                 1.0
         38                 1.0

In [18]:

w_df[(w_df["cumcount"]==0) & (w_df["task_container_id"] != 0)].groupby(["task_container_id", "content_id"]).size()

task_container_id  content_id
1                  2              1
                   4              1
                   30             1
                   45             1
                   90             1
                   105            1
                   117            1
                   128            3
                   131            1
                   164            1
                   284            1
                   315            1
                   335            1
                   382            1
                   420            1
                   484            1
                   542            1
                   621            1
                   633            1
                   636            1
                   660            1
                   698            1
                   784            1
                   789            1
                   855            1
                   881            1
                   951            1
                   956            1
                   960            1
                   1049           1
                   1105           1
                   1232           3
                   1998           1
                   2528           1
                   2581           1
                   2800           1
                   3562           1
                   3577           1
                   3664           1
                   3668           1
                   3688           1
                   3697           1
                   3700           1
                   3762           1
                   3803           1
                   3861           1
                   3915           1
                   3935           1
                   4015           1
                   4043           1
                   4044           1
                   4057           1
                   4081           1
                   4094           1
                   4176           1
                   4196           1
                   4262           1
                   4285           1
                   4320           1
                   4333           1
                   4384           1
                   4406           1
                   4425           1
                   4428           2
                   4447           2
                   4468           1
                   4486           1
                   4490           1
                   4508           1
                   4519           1
                   4566           1
                   4659           1
                   4714           1
                   4838           1
                   4887           1
                   4904           1
                   4986           1
                   5009           1
                   5029           1
                   5037           1
                   5057           1
                   5104           1
                   5112           1
                   5138           1
                   5152           1
                   5158           1
                   5165           1
                   5247           1
                   5300           1
                   5302           1
                   5309           1
                   5326           1
                   5336           1
                   5386           1
                   5441           1
                   5454           1
                   5504           1
                   5517           1
                   5600           1
                   5601           1
                   5666           1
                   5671           1
                   5679           1
                   5692          43
                   5710           1
                   5713           1
                   5719           1
                   5789           1
                   5864           1
                   5888           1
                   5952           1
                   5984           1
                   6015           1
                   6085           1
                   6119           1
                   6121           1
                   6141           1
                   6152           1
                   6157           1
                   6172           1
                   6187           1
                   6203           1
                   6262           1
                   6273           1
                   6422           1
                   6453           1
                   6673           1
                   6674           1
                   6819           1
                   7537           1
                   7861           1
                   7865           1
                   7873           1
                   7876          12
                   7881           1
                   7900           3
                   7942           1
                   7976           1
                   8154           1
                   8222           1
                   8250           1
                   8261           1
                   8278           1
                   8284           2
                   8394           1
                   8463           1
                   8472           1
                   8488           1
                   9024           1
                   9249           1
                   9327           1
                   9340           1
                   9649           1
                   9877           1
                   10197          1
                   10540          1
                   10577          1
                   10687          1
                   10852          1
                   24908          1
                   27845          1
2                  46             1
                   175            6
                   297            1
                   1232           1
                   4213           1
                   4388           1
                   4966           1
                   5465           1
                   5692           2
                   5749           1
                   5922           1
                   6117           2
                   7976           1
                   8155           1
3                  1278           7
                   5271           1
                   5692           1
                   6656           1
4                  2063           1
                   2065           2
5                  305            1
                   3363           3
                   3364           4
                   6405           1
6                  2947           2
7                  2593           1
8                  4492           1
10                 4696           1
12                 5722           1
13                 6370           2
dtype: int64

In [30]:
user_id = w_df[(w_df["task_container_id"] == 1) & (w_df["cumcount"] == 0) & (w_df["content_id"] == 5692)]["user_id"].drop_duplicates().values

In [31]:
w_df[w_df["user_id"].isin(user_id)].to_csv("048_task_container_id/cid1_contentid5692.csv")

In [34]:
df["cumcount"] = df.groupby("user_id").cumcount()

In [37]:
df[df["content_id"]==5716].groupby("task_container_id")["answered_correctly"].describe()

                   count      mean       std  min  25%  50%  75%  max
task_container_id
0                    5.0  0.400000  0.547723  0.0  0.0  0.0  1.0  1.0
1                  265.0  0.732075  0.443716  0.0  0.0  1.0  1.0  1.0
2                   49.0  0.714286  0.456435  0.0  0.0  1.0  1.0  1.0
3                   10.0  0.800000  0.421637  0.0  1.0  1.0  1.0  1.0
4                    3.0  0.666667  0.577350  0.0  0.5  1.0  1.0  1.0
...                  ...       ...       ...  ...  ...  ...  ...  ...
8159                 1.0  1.000000       NaN  1.0  1.0  1.0  1.0  1.0
8479                 1.0  1.000000       NaN  1.0  1.0  1.0  1.0  1.0
8738                 1.0  1.000000       NaN  1.0  1.0  1.0  1.0  1.0
9446                 1.0  0.000000       NaN  0.0  0.0  0.0  0.0  0.0
9452                 1.0  1.000000       NaN  1.0  1.0  1.0  1.0  1.0

[862 rows x 8 columns]

In [38]:
df[df["content_id"]==5692].groupby("task_container_id")["answered_correctly"].describe()

                   count      mean       std  min   25%  50%   75%  max
task_container_id
0                  271.0  0.712177  0.453586  0.0  0.00  1.0  1.00  1.0
1                   56.0  0.660714  0.477752  0.0  0.00  1.0  1.00  1.0
2                    8.0  0.875000  0.353553  0.0  1.00  1.0  1.00  1.0
3                    2.0  0.500000  0.707107  0.0  0.25  0.5  0.75  1.0
4                    6.0  0.666667  0.516398  0.0  0.25  1.0  1.00  1.0
...                  ...       ...       ...  ...   ...  ...   ...  ...
6861                 1.0  1.000000       NaN  1.0  1.00  1.0  1.00  1.0
8245                 1.0  1.000000       NaN  1.0  1.00  1.0  1.00  1.0
8737                 1.0  1.000000       NaN  1.0  1.00  1.0  1.00  1.0
9043                 1.0  1.000000       NaN  1.0  1.00  1.0  1.00  1.0
9535                 1.0  1.000000       NaN  1.0  1.00  1.0  1.00  1.0

[947 rows x 8 columns]

In [33]:
w_df[w_df["user_id"].isin(user_id)].groupby(["cumcount", "content_id"])["answered_correctly"].describe()

                     count      mean       std  min   25%  50%   75%  max
cumcount content_id
0        5692         43.0  0.627907  0.489083  0.0  0.00  1.0  1.00  1.0
1        128           1.0  1.000000       NaN  1.0  1.00  1.0  1.00  1.0
         5716         42.0  0.690476  0.467901  0.0  0.00  1.0  1.00  1.0
2        128           2.0  1.000000  0.000000  1.0  1.00  1.0  1.00  1.0
         5344         40.0  0.800000  0.405096  0.0  1.00  1.0  1.00  1.0
         7860          1.0  0.000000       NaN  0.0  0.00  0.0  0.00  0.0
3        128           2.0  1.000000  0.000000  1.0  1.00  1.0  1.00  1.0
         6360         38.0  0.684211  0.471069  0.0  0.00  1.0  1.00  1.0
         7860          2.0  1.000000  0.000000  1.0  1.00  1.0  1.00  1.0
         7922          1.0  1.000000       NaN  1.0  1.00  1.0  1.00  1.0
4        156           1.0  1.000000       NaN  1.0  1.00  1.0  1.00  1.0
         6410         38.0  0.631579  0.488852  0.0  0.00  1.0  1.00  1.0
         7860          2.0  1.000000  0.000000  1.0  1.00  1.0  1.00  1.0
         7922          2.0  1.000000  0.000000  1.0  1.00  1.0  1.00  1.0
5        51            1.0  1.000000       NaN  1.0  1.00  1.0  1.00  1.0
         128           1.0  1.000000       NaN  1.0  1.00  1.0  1.00  1.0
         156           2.0  1.000000  0.000000  1.0  1.00  1.0  1.00  1.0
         6405         37.0  0.540541  0.505228  0.0  0.00  1.0  1.00  1.0
         7922          2.0  1.000000  0.000000  1.0  1.00  1.0  1.00  1.0
6        50            1.0  1.000000       NaN  1.0  1.00  1.0  1.00  1.0
         51            2.0  0.500000  0.707107  0.0  0.25  0.5  0.75  1.0
         156           2.0  1.000000  0.000000  1.0  1.00  1.0  1.00  1.0
         5392         37.0  0.459459  0.505228  0.0  0.00  0.0  1.00  1.0
         7860          1.0  1.000000       NaN  1.0  1.00  1.0  1.00  1.0
7        50            2.0  1.000000  0.000000  1.0  1.00  1.0  1.00  1.0
         51            2.0  1.000000  0.000000  1.0  1.00  1.0  1.00  1.0
         5664         37.0  0.405405  0.497743  0.0  0.00  0.0  1.00  1.0
         7896          1.0  1.000000       NaN  1.0  1.00  1.0  1.00  1.0
         7922          1.0  1.000000       NaN  1.0  1.00  1.0  1.00  1.0
8        50            2.0  1.000000  0.000000  1.0  1.00  1.0  1.00  1.0
         156           1.0  1.000000       NaN  1.0  1.00  1.0  1.00  1.0
         4789         37.0  0.486486  0.506712  0.0  0.00  0.0  1.00  1.0
         7863          1.0  1.000000       NaN  1.0  1.00  1.0  1.00  1.0
         7896          2.0  1.000000  0.000000  1.0  1.00  1.0  1.00  1.0
9        51            1.0  1.000000       NaN  1.0  1.00  1.0  1.00  1.0
         152           1.0  1.000000       NaN  1.0  1.00  1.0  1.00  1.0
         5213         37.0  0.513514  0.506712  0.0  0.00  1.0  1.00  1.0
         7863          2.0  1.000000  0.000000  1.0  1.00  1.0  1.00  1.0
         7896          2.0  0.500000  0.707107  0.0  0.25  0.5  0.75  1.0

In [40]:

user_id = w_df[(w_df["cumcount"]==1) & (w_df["task_container_id"] == 0)]["user_id"].values

In [42]:
w_df[w_df["user_id"].isin(user_id)].to_csv("048_task_container_id/cumcount1-container0.csv")

In [45]:
df["cumcount_under10"] = df["cumcount"]<10
df["answered_correctly"] = df["answered_correctly"].replace(-1, np.nan)

In [46]:
df.groupby(["cumcount_under10", "prior_question_had_explanation"])["answered_correctly"].describe()

                                                     count      mean  \
cumcount_under10 prior_question_had_explanation
False            False                            586484.0  0.510360
                 True                            8859193.0  0.671122
True             False                            323988.0  0.476799
                 True                              28693.0  0.614749

                                                      std  min  25%  50%  75%  \
cumcount_under10 prior_question_had_explanation
False            False                           0.499893  0.0  0.0  1.0  1.0
                 True                            0.469806  0.0  0.0  1.0  1.0
True             False                           0.499462  0.0  0.0  0.0  1.0
                 True                            0.486663  0.0  0.0  1.0  1.0

                                                 max
cumcount_under10 prior_question_had_explanation
False            False                           1.0
                 True                            1.0
True             False                           1.0
                 True                            1.0