In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import roc_auc_score

In [16]:
df1 = pd.read_csv("../output/model217/20201227212840/transformers1.csv")

In [17]:
df2 = pd.read_csv("../output/model224/20201228203735//transformers1.csv")

In [18]:
len(df1), len(df2)

(970187, 970187)

In [19]:
df2

         predict  target
0       0.515297     0.0
1       0.679452     0.0
2       0.461494     1.0
3       0.355634     0.0
4       0.553077     0.0
...          ...     ...
970182  0.772700     1.0
970183  0.787416     1.0
970184  0.924182     1.0
970185  0.295750     0.0
970186  0.977537     1.0

[970187 rows x 2 columns]

In [20]:
for t_ratio in np.arange(0, 1.05, 0.05):
    auc = roc_auc_score(df1["target"].values, df1["predict"].values*t_ratio + df2["predict"].values*(1-t_ratio))
    print("t_ratio: {:.2f} AUC: {:.5f}".format(t_ratio, auc))

t_ratio: 0.00 AUC: 0.79283
t_ratio: 0.05 AUC: 0.79324
t_ratio: 0.10 AUC: 0.79361
t_ratio: 0.15 AUC: 0.79394
t_ratio: 0.20 AUC: 0.79423
t_ratio: 0.25 AUC: 0.79448
t_ratio: 0.30 AUC: 0.79470
t_ratio: 0.35 AUC: 0.79487
t_ratio: 0.40 AUC: 0.79500
t_ratio: 0.45 AUC: 0.79509
t_ratio: 0.50 AUC: 0.79514
t_ratio: 0.55 AUC: 0.79515
t_ratio: 0.60 AUC: 0.79511
t_ratio: 0.65 AUC: 0.79504
t_ratio: 0.70 AUC: 0.79491
t_ratio: 0.75 AUC: 0.79475
t_ratio: 0.80 AUC: 0.79454
t_ratio: 0.85 AUC: 0.79429
t_ratio: 0.90 AUC: 0.79400
t_ratio: 0.95 AUC: 0.79366
t_ratio: 1.00 AUC: 0.79329