In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import roc_auc_score

In [8]:
df1 = pd.read_csv("../output/model084/20201217002631/transformers1.csv")

In [9]:
df2 = pd.read_csv("../output/model055_2/20201215203451/transformers1.csv")

In [10]:
len(df1), len(df2)

(6136529, 6136529)

In [11]:
df2

          predict  target
0        0.186401     0.0
1        0.232206     0.0
2        0.449566     1.0
3        0.056929     0.0
4        0.109836     0.0
...           ...     ...
6136524  0.901537     1.0
6136525  0.930436     1.0
6136526  0.816619     1.0
6136527  0.561799     0.0
6136528  0.520942     1.0

[6136529 rows x 2 columns]

In [12]:
for t_ratio in np.arange(0, 1.05, 0.05):
    auc = roc_auc_score(df1["target"].values, df1["predict"].values*t_ratio + df2["predict"].values*(1-t_ratio))
    print("t_ratio: {:.2f} AUC: {:.5f}".format(t_ratio, auc))

t_ratio: 0.00 AUC: 0.77376
t_ratio: 0.05 AUC: 0.77596
t_ratio: 0.10 AUC: 0.77805
t_ratio: 0.15 AUC: 0.78002
t_ratio: 0.20 AUC: 0.78187
t_ratio: 0.25 AUC: 0.78359
t_ratio: 0.30 AUC: 0.78517
t_ratio: 0.35 AUC: 0.78662
t_ratio: 0.40 AUC: 0.78794
t_ratio: 0.45 AUC: 0.78910
t_ratio: 0.50 AUC: 0.79013
t_ratio: 0.55 AUC: 0.79101
t_ratio: 0.60 AUC: 0.79175
t_ratio: 0.65 AUC: 0.79234
t_ratio: 0.70 AUC: 0.79280
t_ratio: 0.75 AUC: 0.79311
t_ratio: 0.80 AUC: 0.79329
t_ratio: 0.85 AUC: 0.79335
t_ratio: 0.90 AUC: 0.79328
t_ratio: 0.95 AUC: 0.79308
t_ratio: 1.00 AUC: 0.79276