In [2]:
import pandas as pd
import numpy as np
from sklearn.metrics import roc_auc_score

In [3]:
df1 = pd.read_csv("../output/model225/20201229000607//transformers1.csv")

In [6]:
df2 = pd.read_csv("../output/model226/20201229001216//transformers1.csv")

In [7]:
len(df1), len(df2)

(2500000, 2500000)

In [8]:
df2

          predict  target
0        0.734904     1.0
1        0.833495     1.0
2        0.398563     0.0
3        0.857219     1.0
4        0.447078     0.0
...           ...     ...
2499995  0.880446     1.0
2499996  0.783072     1.0
2499997  0.900164     1.0
2499998  0.362994     0.0
2499999  0.981385     1.0

[2500000 rows x 2 columns]

In [9]:
for t_ratio in np.arange(0, 1.05, 0.05):
    auc = roc_auc_score(df1["target"].values, df1["predict"].values*t_ratio + df2["predict"].values*(1-t_ratio))
    print("t_ratio: {:.2f} AUC: {:.5f}".format(t_ratio, auc))

t_ratio: 0.00 AUC: 0.80971
t_ratio: 0.05 AUC: 0.81003
t_ratio: 0.10 AUC: 0.81031
t_ratio: 0.15 AUC: 0.81055
t_ratio: 0.20 AUC: 0.81075
t_ratio: 0.25 AUC: 0.81091
t_ratio: 0.30 AUC: 0.81103
t_ratio: 0.35 AUC: 0.81111
t_ratio: 0.40 AUC: 0.81116
t_ratio: 0.45 AUC: 0.81116
t_ratio: 0.50 AUC: 0.81112
t_ratio: 0.55 AUC: 0.81104
t_ratio: 0.60 AUC: 0.81093
t_ratio: 0.65 AUC: 0.81077
t_ratio: 0.70 AUC: 0.81058
t_ratio: 0.75 AUC: 0.81034
t_ratio: 0.80 AUC: 0.81007
t_ratio: 0.85 AUC: 0.80976
t_ratio: 0.90 AUC: 0.80942
t_ratio: 0.95 AUC: 0.80903
t_ratio: 1.00 AUC: 0.80861