In [7]:
import pandas as pd
import numpy as np
from sklearn.metrics import roc_auc_score

In [5]:
def calc_optimized_weight(df):
    best_score = 0
    best_cat_ratio = 0
    for cat_ratio in np.arange(0, 1.05, 0.05):
        pred = df["nn"] * cat_ratio + df["lgbm"] * (1 - cat_ratio)
        score = roc_auc_score(df["target"].values, pred)
        print("[nn_ratio: {:.2f}] AUC: {:.4f}".format(cat_ratio, score))
        if score > best_score:
            best_score = score
            best_cat_ratio = cat_ratio

    return best_score, best_cat_ratio

In [4]:
df_oof_lgbm = pd.read_csv("../output/ex_172/20201202080625/oof_train_0_lgbm.csv")
df_oof_nn = pd.read_csv(f"../output/ex_188/20201206185902/oof_train_0_nn.csv")

In [8]:
    df_oof = pd.DataFrame()
    df_oof["target"] = df_oof_lgbm["target"]
    df_oof["lgbm"] = df_oof_lgbm["predict"]
    df_oof["nn"] = df_oof_nn["predict"]

    score, weight = calc_optimized_weight(df_oof)

[nn_ratio: 0.00] AUC: 0.7885
[nn_ratio: 0.05] AUC: 0.7887
[nn_ratio: 0.10] AUC: 0.7887
[nn_ratio: 0.15] AUC: 0.7887
[nn_ratio: 0.20] AUC: 0.7886
[nn_ratio: 0.25] AUC: 0.7884
[nn_ratio: 0.30] AUC: 0.7881
[nn_ratio: 0.35] AUC: 0.7877
[nn_ratio: 0.40] AUC: 0.7873
[nn_ratio: 0.45] AUC: 0.7867
[nn_ratio: 0.50] AUC: 0.7861
[nn_ratio: 0.55] AUC: 0.7853
[nn_ratio: 0.60] AUC: 0.7845
[nn_ratio: 0.65] AUC: 0.7835
[nn_ratio: 0.70] AUC: 0.7825
[nn_ratio: 0.75] AUC: 0.7813
[nn_ratio: 0.80] AUC: 0.7800
[nn_ratio: 0.85] AUC: 0.7786
[nn_ratio: 0.90] AUC: 0.7771
[nn_ratio: 0.95] AUC: 0.7755
[nn_ratio: 1.00] AUC: 0.7738

In [9]:
df_oof[["lgbm", "nn"]].corr()

          lgbm        nn
lgbm  1.000000  0.937928
nn    0.937928  1.000000

In [10]:
df_oof[["lgbm", "nn"]]

             lgbm        nn
0        0.440669  0.453914
1        0.523389  0.545798
2        0.384600  0.326650
3        0.428092  0.384978
4        0.692595  0.677085
...           ...       ...
1825192  0.776445  0.883830
1825193  0.757160  0.878370
1825194  0.926326  0.939075
1825195  0.379459  0.580447
1825196  0.973158  0.970784

[1825197 rows x 2 columns]